@model IEnumerable<LIVESTOCK.Areas.CovidLab.Models.PatientResults>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DOR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReTestDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DOR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Result)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReTestDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.PatientID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PatientResultID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PatientResultID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PatientResultID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
